main {
  padding: 2rem;
  max-width: 800px;
  margin: auto;
}

h1 {
  text-align: center;
  color: #003366;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

th, td {
  padding: 0.8rem;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

td {
  color: #333;
}

th {
  background-color: #032f53;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.ver-mas-btn {
  display: inline-block;
  padding: 6px 12px;
  background-color: #4CAF50;
  color: white;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.ver-mas-btn:hover {
  background-color: #45a049;
}

