* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: white;
  color: white;
  font-size: 15px;
  overflow-x: hidden;
  overflow-y: auto;
}
.contento {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.imageOverrlay {
  position: absolute;
  top: 200;
  left: 30%;
  transform: translateX(-50%); /* Centra horizontalmente */
  z-index: 2; /* Asegura que esté por encima del texto */
}

.rbtImgen {
  width: 400px;
  height: auto;
  pointer-events: none; /* No bloquea clics en texto debajo */
}

.textContent {
  position: relative;
  z-index: 1; /* Asegura que esté debajo de la imagen */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  max-width: 800px;
  padding: 2rem;
}

.Subtitulo111{
    position: relative;
    top: 0;
    left: 18%;
    color:rgb(255, 255, 255);
    font-size:50px; 
    font-weight: bold;
}

.caja1o{
      background: linear-gradient(to right, #000000, #001F4D); 
      color: white; 
      padding: 20px; 
      border-radius: 20px; 
      font-family: Arial, sans-serif;
      max-width: 600px;
      margin: 20px auto; 
      line-height: 1.6; 
      text-align: justify;
      font-size: 20px;
      transform:translate(339px,10px);
}

.caja2o{
      background: linear-gradient(to right, #000000, #001F4D); 
      color: white; 
      padding: 20px; 
      border-radius: 20px; 
      font-family: Arial, sans-serif; 
      max-width: 600px; 
      margin: 20px auto;
      line-height: 1.6; 
      text-align: justify;
      font-size: 20px;
      transform:translate(339px,10px); 
}

.caja3o{
      background: linear-gradient(to right, #000000, #001F4D); 
      color: white; 
      padding: 20px; 
      border-radius: 20px; 
      font-family: Arial, sans-serif; 
      max-width: 600px; 
      margin: 20px auto; 
      line-height: 1.6; 
      text-align: justify;
      font-size: 20px;
      transform:translate(339px,10px); 
}
.caja4o{
      background: linear-gradient(to right, #000000, #001F4D); 
      color: white; /* texto blanco */
      padding: 20px; /* espacio interno */
      border-radius: 20px; /* bordes redondeados */
      font-family: Arial, sans-serif; /* fuente legible */
      max-width: 600px; /* ancho máximo */
      margin: 20px auto; /* centrar en la página */
      line-height: 1.6; /* mejorar legibilidad */
      text-align: justify;
      font-size: 20px;
      transform:translate(339px,10px); 
}